mat-table {
    margin-bottom: 25px;
}

.small {
    flex: 0 0 40px;
}

.spacer {
    width: 8px;
    display: inline-block;
}

.note {
    width: 50%;
}

.placeOrderAction {
    margin-bottom: -16px;
    padding-bottom: 0;
}