<mat-card>
  <mat-card-title>
    {{product.name}}
  </mat-card-title>
  <mat-card-subtitle *ngIf="showCategory">
    {{product.category.name}}
  </mat-card-subtitle>
  <mat-list>
    <mat-list-item *ngIf="product.description !== ''">
      <mat-icon mat-list-icon>description</mat-icon>
      <span class="mat-list-text">{{product.description}}</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>attach_money</mat-icon>
      <span mat-line>{{product.price}}</span>
    </mat-list-item>
  </mat-list>
  <mat-card-actions>
    <button *ngIf="userService.isUser" mat-icon-button color="primary" (click)="addToCart($event)">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <a *ngIf="userService.isUser || userService.isAdmin" mat-icon-button color="primary" routerLink="/product/{{product.id}}/reviews">
      <mat-icon>rate_review</mat-icon>
    </a>
    <button *ngIf="userService.isAdmin" mat-icon-button color="primary" (click)="deleteProduct($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
