<mat-card>
  <mat-card-title>
    {{product.name}}
  </mat-card-title>
  <mat-card-subtitle *ngIf="showCategory">
    {{product.category.name}}
  </mat-card-subtitle>
  <mat-list>
    <mat-list-item *ngIf="product.description !== ''">
      <mat-icon mat-list-icon>description</mat-icon>
      <span class="mat-list-text">{{product.description}}</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>attach_money</mat-icon>
      <span mat-line>{{product.price}}</span>
    </mat-list-item>
  </mat-list>
  <mat-card-actions>
    <button *ngIf="user()" mat-icon-button color="primary" (click)="addToCart($event)">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
  <ng-container *ngIf="admin()">
    <button mat-raised-button class="mat-primary" (click)="clickButton($event)">Delete product</button>
  </ng-container>
</mat-card>