<mat-card *ngIf="categories">
  <form novalidate>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>restaurant_menu</mat-icon>
        <span mat-line>
          <mat-form-field class="fullWidth">
            <input matInput #name placeholder="Name">
          </mat-form-field>
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>description</mat-icon>
        <span mat-line>
          <mat-form-field class="fullWidth">
            <input matInput #description placeholder="Description">
          </mat-form-field>
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>attach_money</mat-icon>
        <span mat-line>
          <mat-form-field class="fullWidth">
            <input matInput #price placeholder="Price">
          </mat-form-field>
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>label</mat-icon>
        <span mat-line>
          <mat-form-field class="fullWidth">
            <mat-select #categoryId placeholder="Category">
              <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </mat-list-item>
    </mat-list>
    <mat-card-actions class="formActions">
      <button mat-icon-button color="primary" (click)="addProduct(name.value, description.value, price.value, categoryId.value, $event)">
        <mat-icon>done</mat-icon>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
<mat-spinner *ngIf="!categories"></mat-spinner>