@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic";
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: whitesmoke;
}

.content {
  width: 50%;
  min-width: 500px;
  margin: 94px auto 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

.thirdWidth {
  width: calc(100% / 3);
}

mat-card,
mat-table {
  margin-bottom: 10px;
}

mat-list-item {
  height: auto !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

.formActions {
  margin-bottom: -16px !important;
  padding-bottom: 0 !important;
}

.snackBarSuccess {
  background-color: #3f51b5;
}

.snackBarError {
  background-color: #f44336
}

app-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
