@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: whitesmoke;
}

.content {
  width: 50%;
  margin: auto;
}

mat-card {
  margin-bottom: 10px;
}

mat-list-item {
  height: auto !important;
  margin-top: 8px;
  margin-bottom: 8px;
}

.writeReviewAction, .placeOrderAction {
  margin-bottom: -16px !important;
  padding-bottom: 0 !important;
}