<ng-container *ngIf="reviews">
  <h3 class="mat-h3">{{pageSubTitle}}</h3>
  <ng-container *ngIf="reviews.reviews.length !== 0">
    <app-product-review *ngFor="let review of reviews.reviews" [review]="review"></app-product-review>
  </ng-container>
  <mat-card *ngIf="reviews.reviews.length === 0">
    <mat-card-title>No reviews yet</mat-card-title>
  </mat-card>
  <mat-card *ngIf="user()" class="writeReviewCard">
    <form>
      <mat-card-title>
        Write review
      </mat-card-title>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>star</mat-icon>
          <span mat-line>
            <mat-form-field>
              <mat-select [value]="5" #stars>
                <mat-option *ngFor="let star of starsChoices" [value]="star">{{star}}</mat-option>
              </mat-select>
            </mat-form-field>
          </span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>description</mat-icon>
          <span mat-line>
            <mat-form-field class="description">
              <textarea matInput #description></textarea>
            </mat-form-field>
          </span>
        </mat-list-item>
      </mat-list>
      <mat-card-actions class="writeReviewAction">
        <button mat-icon-button color="primary" (click)="writeReview(stars.value, description.value, $event)">
          <mat-icon>done</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</ng-container>
<mat-spinner *ngIf="!reviews"></mat-spinner>