<div class="page-body">
  <h2 class="mat-h2">Log in</h2>
  <div *ngIf="error">
    <p>Incorrect email/password!</p>
  </div>
  <form [formGroup]="loginForm" novalidate>
      <div class="form-control">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email">
      
    </mat-form-field>
    </div>
    <div class="form-control">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password" type="password">
        </mat-form-field>
        </div>
        <button mat-raised-button class="mat-primary" (click)="tryLogin()" >Log in</button>
        <a mat-button class="mat-accent" routerLink="/">Back</a>
</form>
</div>