<mat-card>
  <form novalidate>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>email</mat-icon>
        <span mat-line>
          <mat-form-field class="fullWidth">
            <input matInput #email placeholder="Email" name="email">
          </mat-form-field>
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>lock</mat-icon>
        <span mat-line>
          <mat-form-field class="fullWidth">
            <input matInput #password type="password" placeholder="Password" name="password">
          </mat-form-field>
        </span>
      </mat-list-item>
    </mat-list>
    <mat-card-actions class="formActions">
      <button mat-icon-button color="primary" (click)="logIn(email.value, password.value, $event)">
        <mat-icon>done</mat-icon>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
