<mat-card *ngIf="cities && restaurants">
  <form novalidate>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>email</mat-icon>
        <span mat-line>
          <mat-form-field class="fullWidth">
            <input matInput #email placeholder="Email" [value]="user ? user.email : null">
          </mat-form-field>
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>lock</mat-icon>
        <span mat-line>
          <mat-form-field class="fullWidth">
            <input matInput #password placeholder="Password" type="password">
          </mat-form-field>
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <span mat-line>
          <mat-form-field class="halfWidth">
            <input matInput #firstName placeholder="First name" [value]="user ? user.firstName : null">
          </mat-form-field>
          <mat-form-field class="halfWidth">
            <input matInput #lastName placeholder="Last name" [value]="user ? user.lastName : null">
          </mat-form-field>
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>location_city</mat-icon>
        <span mat-line>
          <mat-form-field class="thirdWidth">
            <input matInput #zipCode placeholder="ZIP code" [value]="user ? user.zipCode : null">
          </mat-form-field>
          <mat-form-field class="thirdWidth">
            <mat-select #cityId placeholder="City" [value]="user ? user.city.id : null" (selectionChange)="refreshRestaurants($event.value)">
              <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="thirdWidth">
            <input matInput #address placeholder="Address" [value]="user ? user.address : null">
          </mat-form-field>
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>phone</mat-icon>
        <span mat-line>
          <mat-form-field class="fullWidth">
            <input matInput #phoneNumber placeholder="Phone number" [value]="user ? user.phoneNumber : null">
          </mat-form-field>
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>restaurant</mat-icon>
        <span mat-line>
          <mat-form-field class="fullWidth">
            <mat-select #restaurantId placeholder="Restaurant" [value]="user ? user.restaurant.id : null">
              <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant.id">{{restaurant.zipCode}} {{restaurant.city.name}}, {{restaurant.address}}</mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </mat-list-item>
    </mat-list>
    <mat-card-actions class="formActions">
      <button mat-icon-button color="primary" (click)="done(email.value, password.value, firstName.value, lastName.value, zipCode.value, cityId.value, address.value, phoneNumber.value, restaurantId.value, $event)">
        <mat-icon>done</mat-icon>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
<mat-spinner *ngIf="!cities || !restaurants"></mat-spinner>