<div class="page-body">
  <h2 class="mat-h2">Registration</h2>
  <div *ngIf="error">
   <div>>
     <font color="red">{{errorString}}!</font><br>
     </div>
  </div>
  <form [formGroup]="registerForm" novalidate>
      <div class="form-control">
      <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
    </div>
    <div class="form-control">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password" type="password">
        </mat-form-field>
        </div>
        <div class="form-control">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last name" formControlName="lastname">
            </mat-form-field>
            </div>
            <div class="form-control">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="First name" formControlName="firstname">
                </mat-form-field>
                </div>
                <div class="form-control">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Zip code" formControlName="zipcode">
                    </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Address" formControlName="address">
                        </mat-form-field>
                        </div>
                        <div class="form-control">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Phone number" formControlName="phonenumber">
                            </mat-form-field>
                            </div>
                            <div>
                            <mat-form-field>
                                <mat-select placeholder="City" ng-model="data.model" [(value)]="cityselect" (change)="change($event.value)">
                                  <mat-option *ngFor="let city of cities" [value]="city">
                                    {{ city.name }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                  <mat-select placeholder="Restaurant" ng-model="data.model" [(value)]="restaurantselect">
                                    <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant">
                                      {{ restaurant.address + ' ' + restaurant.city.name }}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
        <button mat-raised-button class="mat-primary" (click)="tryRegister(cityselect,restaurantselect)" >Registration</button>
        <a mat-button class="mat-accent" routerLink="/">Back</a>
    </form>
</div>
